<div class="laser-line" aria-hidden="true"></div>
<h1 class="hero-name">Vigneron Tristan</h1>
<p class="subtitle">Code, design et esthétique numérique</p>
<pre class="console-effect">
&gt; - Initialisation des Information...
&gt; - Chargement de l'environnement FULL-STACK...
&gt; - Backend [OK]
&gt; - Frontend [OK]
&gt; - Système prêt.
&gt; - Bienvenue visiteur.</pre>
<p class="cyber-tagline"> Je conçois des expériences complètes, du serveur à l'écran, en transformant vos idées et vos besoins en interfaces. </p>