.links {
    color: var(--color-green);
    text-shadow: 0 0 5px var(--color-green);
    transition: color 0.3s, text-shadow 0.3s;
    font-weight: bold;
}

.links:hover {
    color: var(--color-cyan);
    text-shadow: 0 0 8px var(--color-cyan);
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: var(--padding-mm);
    padding: var(--padding-sm) var(--padding-md);
}
