* {
    /*outline: solid 1px black;*/
    text-decoration: none;
    list-style: none    ;
    padding: 0;
    margin: 0;
}
body, main {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Share Tech Mono', monospace;
    scroll-behavior: smooth;
}

section {
    max-width: 90vw;
    margin-inline: auto;
    margin-block: var(--padding-xg);
}


@media (max-width: 1024px) {
section {
    max-width: 95vw;
    margin: auto;
}
}

@media (max-width: 640px) {
    section {
        max-width: 95vw;
        margin: auto;
    }
}