:root {
    /*--color-bg: transparent;*/
    --color-bg: #000000;
    --color-card: hsl(240, 82%, 48%);
    --color-violet: hsl(271, 76%, 53%);
    --color-pink: hsl(335, 100%, 54%);
    --color-cyan: hsl(180, 100%, 50%);
    --color-gold: hsl(48, 100%, 50%);
    --color-text: hsl(0, 0%, 94%);

    --base-unit-padding: 1rem;
    --base-unit-text: 1rem;

    --padding-xs: calc(var(--base-unit-padding) * 0.5);
    --padding-sm: calc(var(--base-unit-padding) * 1);
    --padding-mm: calc(var(--base-unit-padding) * 1.5);
    --padding-md: calc(var(--base-unit-padding) * 2);
    --padding-mlg: calc(var(--base-unit-padding) * 2.5);
    --padding-lg: calc(var(--base-unit-padding) * 3);
    --padding-xg: calc(var(--base-unit-padding) * 4);


    --text-sm: calc(var(--base-unit-text) * 0.875);
    --text-md: calc(var(--base-unit-text) * 1);
    --text-lg: calc(var(--base-unit-text) * 1.25);
    --text-xg: calc(var(--base-unit-text) * 3);
}


@media (max-width: 1024px) {
    :root {
        --base-unit-padding: 0.75rem;
    }
}

@media (max-width: 640px) {
    :root {
        --base-unit-padding: 0.50rem;
        --base-unit-text: 0.75rem;
    }
}